Checks: >
    *,-clang-analyzer-alpha.*,-hicpp-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -fuchsia-overloaded-operator,-fuchsia-default-arguments,
    hicpp-avoid-goto,hicpp-exception-baseclass,hicpp-multiway-paths-covered,
    hicpp-no-assembler,hicpp-signed-bitwise,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -google-readability-todo,
    -hicpp-signed-bitwise,
    -llvm-header-guard,
    -llvm-include-order,
    -performance-noexcept-move-constructor,
    -readability-named-parameter,
    -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: 'spacetime.*'
AnalyzeTemporaryDtors: false
FormatStyle: google
CheckOptions:
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: 'DECL_ST_*|SPACETIME_*|NPY_NO_DEPRECATED_API'